.main-header {
    display: grid;
    grid-template-areas: "title title . ."
        "under-title-buttons under-title-buttons . .";
    justify-content: center;
    column-gap: 50px;
}

.title {
    grid-area: title;
    padding: 5%;
}

.under-title-buttons {
    grid-area: under-title-buttons;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 10%;
    padding: 5%;
    justify-content: center;

}

.enroll-button {
    background-color: #4287f5;
    color: white;
    border-color: #4287f5;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.enroll-button:hover {
    background-color: #356dc7;
    border-color: #356dc7;
}

.enroll-button i{
    color: white; 
    padding-top: 5px;
}

.more-info-button {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #4287f5;
    color: #4287f5;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.more-info-button:hover {
    transition: 1s;
    background-color: #4287f5;
    color: white;
}

.info-bar-text-up {
    font-weight: bold;
    font-size: large
}

.info-bar-text {
    font-weight: lighter;
    font-size: medium
}

.info-bar {
    background-color: #f3f1f1;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, auto);
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: fit-content;
    align-content: center;
}

.info-carac {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    padding-left: 50px;
    padding-right: 50px;
}

.info-text {
    padding-left: 15px;
}

.buttons-bar {
    box-shadow: 0px 0px 5px grey;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 30px;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    align-content: center;
}

.about {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cat-titles {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.topics-skills {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    width: 90%;
    margin: auto;
}

.topics {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    padding: 20px;
    height: fit-content;
    width: 90%;
    margin: auto;
}

.topics-items {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: left;
    padding-left: 10px;
}

.topics-items .each-item i{
    color: green; 
    padding-top: 5px;
}

.skills {
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    padding: 20px;
    height: fit-content;
    width: 90%;
    margin: auto;
}

.skills p {
    padding-left: 10px;
    padding-right: 10px;
}

.schedule {
    padding-left: 10px;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}

.sched-items {
    margin-left: auto;
    margin-right: auto;
}

.sched-button {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.each-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    justify-content: left;
    padding: 10px;
}

.sched-items .each-item i, .req-items .each-item i{
    color: #4287f5; 
    padding-left: 10px
}

.readMore_btn {
    background-color: transparent;
    border: solid;
    border-width: 1px;
    padding: 5px 10px 5px 10px;
    color: #4287f5;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.hideText {
    display: none;
}

.showText {
    display: block;
}

.req {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2, auto);
    padding-bottom: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top{
    text-align: center;
    padding-bottom: 20px;
}

.back-to-top a i{
    text-align: right;
    font-size: 50px;
    color: #4287f5;
}

@media screen and (min-width: 768px) {
    .under-title-buttons {
        grid-template-columns: repeat(2, auto);
        column-gap: 20px;
        justify-content: left;
        padding-top: 10px;
    }

    .info-bar {
        grid-template-columns: repeat(3, auto);
        justify-content: left;
        padding-top: 30px;
        padding-bottom: 20px;
        gap: 5px;
    }

    .info-carac {
        padding-right: 0px;
    }

    .req-items {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 1024px) {
    .info-bar {
        justify-content: center;
    }

    .topics {
        justify-content: center;
        width: 50%;
    }

    .topics-items {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        padding-left: 10px;
        width: fit-content;
    }

    .skills {
        width: 50%;
    }

    .sched-items {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 20px;
        justify-content: center;
    }
}