/*FAQ*/
main{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;   /*[cual es la diferencia con ponerlo en center y column???]*/
    align-items: center;
}

/*Como al Subtitulo de la pagina "FAQs" le asigné la clase "title" ahora puedo llamarla particularmente a ella y asignarle las caracteristicas que yo quiera*/
.title{
    font-size: 2rem;
    margin: 5rem 0rem 0rem 0rem; /*10rem 0rem 10rem 0rem; Up Left Down Right*/
}


/*Es la caja de las preguntas*/
.faq{
    max-width: 700px; /*Es el ancho que tiene la pregunta entera*/
    margin-top: 5rem; /*Es el espacio que hay entre la pregunta y la linea blanca QUE TIENE ARRIBA*/
    padding-bottom: 1rem; /*Es el espacio que hay entre la pregunta y la linea blanca*/
    border-bottom: 2px solid black; /*Es la linea blanca*/
    margin-bottom: 1rem;
    cursor: pointer; /*Como se comporta el cursor cuando pasa por ahi*/
}

/*El Tamaño de la letra se puede modificar acá
pero al modificarlo en .question h3 hace que
sea mas especifico y por ende tenga mas prioridad
que si la cambiamos en .question nada mas*/
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-size: 5rem;*/

}

/*Que es rem?*/
/*Letra de la pregunta*/
.question h3{
    font-size: 1.6rem;

}


/*La respuesta. Estado y alto maximo*/
.answer{
    max-height: 0;
    overflow: hidden;
}

/*Caja de respuesta*/
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

/*El alto maximo de la respuesta
despues de activada la caja*/
.faq.active .answer{
    max-height: 300px;
}

