@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows:    200px auto auto;
    grid-template-areas: "title   title   title"
                         "image   image   image"
                         "blocks  blocks  blocks";
   justify-content: center;
   padding: 50px 50px;
}

.contenedor .title{
    grid-area: title; 
   /* background-color: red;*/
}

.contenedor .image{
    grid-area: image; 
    /*background:green;*/
}

.contenedor .blocks{
    grid-area: blocks;
    /*background-color: blue;*/
}

.title {
    grid-area: title;
    text-align: center;
    padding: 10% 5%;
}

.title h1 {
    font-size: 50px;
}

.title p {
    font-size: 20px;
}

.img1 img {
    position: center;
    width:100%;
    height:100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px auto);
    justify-content: center;
    gap: 10px;
    margin: 30px;
}

.grid-container .grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grip-item h2{
    font-size: 20px; 
   
}

.grip-item p {
    font-size: 10px;
}


@media screen and (min-width: 600px) {
     .contenedor{
       /*  background-color: purple;*/
         grid-template-columns: 500px;
         grid-template-rows:    auto;
         grid-template-areas: "title"
                              "image"
                              "blocks";
     }
 }
 

@media screen and (min-width: 768px) {
    .contenedor{
       /* background-color: yellow;*/
        grid-template-columns:  550px;
         grid-template-rows:    auto;
         grid-template-areas: "title"
                              "image"
                              "blocks";
    }
}


@media screen and (min-width: 900px) {
    .contenedor {
        /*background-color: greenyellow;*/
        grid-template-columns: 100px  600px 100px;
         grid-template-rows:   400px  auto  auto;
         grid-template-areas: "title  title  title"
                              "image  image  image"
                              "blocks blocks blocks";
    }
}